.login__button {
    margin: 10px 0;
    padding: 5px;
    font-size: 1.25em;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

.login__button:hover, .login__button:focus-visible {
    background-color: gray;
}